impl/__pycache__/

build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
private/
.idea/

*.swp
*.cbio
*.out
*.pyc
__pycache__/
*.css.map

installer/res
installer/bio_installer.jar

examples/test.bio

*.hprof
impl/bio/memprof_bio
impl/bioc/memprof_bioc
