#title
{
  font-size: 4.0vw; 
}

div.data_types
{
   margin-bottom: 80px;
}

body
{
   margin: 5px auto 0;
   width: 800px;
}

p.fun_header
{
   background-color: #ccc;
}

h1
{
   text-align: center;
}

div.params, div.returned, div.errors
{
   text-indent: 30px;
}
