ul 
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #f1f1f1;
}

li a 
{
   display: block;
   color: #000;
   padding: 8px 16px;
   text-decoration: none;
}

/* Change the link color on hover */
li a:hover 
{
   background-color: #555;
   color: white;
}


body
{
   margin: 5px auto 0;
   width: 800px;
}

p.fun_header
{
   background-color: #ccc;
}

h1
{
   text-align: center;
}

div.params, div.returned, div.errors
{
   text-indent: 30px;
}
